/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}
/* scrolled */
.navbar.scrolled
{
	background:#ffdab9;
	transition:background 500ms;
}
/* NAVBAr */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color:#ff4500;
  font-family: 'Courgette', cursive;
  font-weight: 700;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ff7f50;
}
.navbar-dark .navbar-nav .nav-link {
  color: rosybrown;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.tm-brand-container-inner {
  max-width: 580px;
  width: 100%;
}

.tm-brand-container {
  padding: 75px 110px;
}

.tm-brand-name {
  font-size: 3.8rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: #986665;
  padding: 80px 43px 70px;
  height: 100%;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

#tmPortfolio {
  padding-top: 80px;
}

.tm-portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.tm-portfolio-name {
  width: 330px;
  height: 220px;
  font-size: 2rem;
  padding: 70px 95px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tm-portfolio-description {
  width: calc(100% - 330px);
  padding: 20px 45px;
}

.tm-portfolio-description h3 {
  margin-bottom: 20px;
}

.tm-text-green {
  color: #98cb00;
}

.tm-text-orange {
  color: #cc6733;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-title-small {
  font-size: 1.3rem;
}

p {
  line-height: 1.8;
}



@media (max-width: 730px) {
  .tm-portfolio-item {
    flex-direction: column;
  }

  .tm-portfolio-name {
    justify-content: center;
  }

  .tm-portfolio-name,
  .tm-portfolio-description {
    width: 100%;
  }

  .tm-portfolio-description {
    padding: 20px 30px;
  }
}

@media (max-width: 572px) {
  .tm-brand-container {
    padding: 45px;
  }
}

@media (max-width: 443px) {
  .tm-brand-name {
    font-size: 3rem;
  }

  .tm-brand-container {
    padding: 25px;
  }
}
/* list */
.thumbs{
  list-style-type: "\1F44D";
}
.shadow
{
  text-shadow: #FC0 1px 0 10px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
}
/***** Footer *****/

footer {
	padding: 40px 0 35px 0;
	background: rgba(255,222,173,0.8);
	border-top: 1px dotted rgba(245,222,179);
}

.footer-social {
	font-size: 42px;
    line-height: 42px;
}

.footer-social a {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 5px 5px;
	padding-top: 7px;
	background: #eee;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 32px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
.footer-social a:hover, .footer-social a:focus { background: #66d6c5; color: #555; }

.footer-social a i { vertical-align: middle; }

.footer-copyright {
	margin-top: 25px;
}
/* toggler */
.navbar-dark .navbar-toggler {
  color:sandybrown;
  border-color: lightsalmon;
}
span.navbar-toggler-icon
{
     color:darkgrey;
}
